<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Amount Divider</title>
</head>
<body>
    <form method=post action="">
    <table>
      {% for field in form %}
        <tr>
        <td>{{ field.name }}</td><td>{{ field }}</td>
        <td>{{ field.label }}</td>
        </tr>
      {% endfor %}
    </table>
    <p><input type=submit value=Divide></form></p>

    <p class="output-container">
        {% if result != None %}
        <textarea class="output-field">
            {{ result }}
        </textarea>
        {% endif %}
    </p>

</body>
</html>