body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: "Verdana";
    background: url("../background.jpg");
}
.form-holder {
    position: fixed;
    top: 1%;
    padding-left: 10px;
    width: 100%;
}
.form-holder h1 {
    text-align: center;
}
.container {
    margin: 10px;
    background: transparent;
}
.lab {
    margin: 10px;
}

.output-container .output-field {
    margin-left: 10px;
    width: 50%;
    height: 10%;
}