body
{
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: sans-serif;
}
.amount-container {
    margin: 10px;
}
.amount-container .amount-input {
    width: 30%;
}
.partitions-container {
    margin: 10px;
}
.partitions-container .partitions-input {
    width: 30%;
}
.output-container {
    margin: 10px;
}