<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Amount Divider</title>
</head>
<body>

<form class="amount-container" method="POST">
    <input class="amount-input" name="text" placeholder="Enter the amount to be divided">
</form>

<form class="partitions-container" action="/divide" method="POST">
    <input class="partitions-input" name="text" placeholder="Enter the number of divisions you want">
    <input class="partitions-btn" type="submit" value="Divide">
</form>

<br><br>

<form class="output-container" action="/calc" method="POST">
    <textarea class="output">
        Output
    </textarea>
</form>

</body>
</html>