<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--&lt;!&ndash;    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">&ndash;&gt;-->
<!--    <title>Amount Divider</title>-->
<!--</head>-->
<!--<body>-->
<form method=post action="">
<table>
  {% for field in form %}
    <tr>
    <td>{{ field.name }}</td><td>{{ field }}</td>
    <td>{{ field.label }}</td>
    </tr>
  {% endfor %}
</table>
<p><input type=submit value=Compute></form></p>

<p>
    {% if result != None %}
    <textarea>
        {{ result }}
    </textarea>
    {% endif %}
</p>

<!--</body>-->
<!--</html>-->